.middle {
    /*display: inline-block;*/
    vertical-align: middle;
    /*margin: 0px;*/
    /*float: none;*/
}

.move-up-in-panel {
    margin-top: -15px;
}

.move-down-in-panel {
    margin-top: 15px;
}