.middle {
    /*display: inline-block;*/
    vertical-align: middle;
    /*margin: 0px;*/
    /*float: none;*/
}

.centered {
    align: center;
    text-align: center;
}

.move-up-in-panel {
    margin-top: -15px;
}

.move-down-in-panel {
    margin-top: 15px;
}

.biolog-menuButton {
    margin: -10px 5px 5px 5px !important;
}

.biolog-btn-group{
    bottom: 20px;
    position: relative;
    /*top: -10px;*/

}


/*.color-red {*/
    /*color: #c0392b;*/
/*}*/

.time-slider {
    height: 24px !important;
}

.noUi-base {
    height: 20px !important;
}

.noUi-connect {
    background-color: tan;
    height: 22px !important;
}

.noUi-background {
    height: 22px !important;
}

.noUi-handle::before,.noUi-handle::after {
    content: none !important;
}

.noUi-handle-lower {
    height: 24px !important;
    width: 16px !important;
    margin: 4px 0px 0px 15px !important;
    background-image: none !important;
}

.noUi-handle-upper {
    height: 24px !important;
    width: 16px !important;
    margin: 4px 12px 0px 3px !important;
}

/*.biolog-selectBox {*/
    /*height: 50px;*/
/*}*/


@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
    select {
        height:24px;
        line-height:24px;
        background:#f4f4f4;
        margin-top: 2px;
    }
}
select::-moz-focus-inner { /*Remove button padding in FF*/
    border: 0;
    padding: 0;
}
@-moz-document url-prefix() { /* targets Firefox only */
    select {
        padding: 15px 0!important;
    }
}
@media screen\0 { /* IE Hacks: targets IE 8, 9 and 10 */
    select {
        height:24px;
        line-height:24px;
    }
}


div.faces div.rateit-range
{
    background: url(icons/smile32.png);
    height: 32px;
}

div.faces div.rateit-hover
{
    background: url(icons/frown32.png);
}

div.faces div.rateit-selected
{
    background: url(icons/frown32.png);
}

/*div.faces div.rateit-reset*/
/*{*/
    /*background: url(icons/smile32.png);*/
    /*width: 32px;*/
    /*height: 32px;*/
/*}*/

div.faces div.rateit-reset:hover
{
    background: url(icons/smile32.png);
}

.biolog-timeline {
    width: 1200px;
    margin-bottom: 100px;
}

#timeline {
    margin-bottom: 100px;
}

#timeline svg{
    margin-bottom: 100px;
}